# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# APK / AAB
*.apk
*.aab

# Logs
*.log

# JVM crash logs
hs_err_pid*
replay_pid*
